<div class="edit-article" style="text-align:right;clear:both;margin-top:2em;">
{% if site.repo %}
	<small>
		<a href="http://prose.io/#{{site.repo}}/edit/{{site.branch}}/{{ page.path }}" target="_blank">
			<span class="screen-reader-text">Edit This Page</span>
			<i class="fa fa-pencil-square-o icon-edit"></i>
		</a>
	</small>
{% endif %}


{% if page.edit_link %}
	<small> 
		<a href="{{page.edit_link}}" target="_blank">|
			{% if page.edit_link_text %}
				<span class="screen-reader-text">{{page.edit_link_text}}</span>
			    {{page.edit_link_text}}
			   {% else %}
			  <span class="screen-reader-text">Add/Edit This Page</span>
			    add/edit this page
			{% endif %}
		</a>
	</small>
{% endif %}
</div>