{% comment %}
.push and .bg are utility classes we can use to 
stick our footer at the bottom of the page and 
display a full width background image, respectively
{% endcomment %}
<div class="push bg"></div>
<footer id="content-info">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="no-bullet">
      <li class="source-org vcarfd copyright">
        <a href="{{site.baseurl}}"><span class="org fn">{{site.sitename}}</span></a>
      </li> 
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>   
    </ul>
  </div>
</footer>
{% if page.background_image %}
	<img src="{{site.baseurl}}/assets/img/{{page.background_image}}" class="bg">
{% endif %}
<!-- /footer -->