---
import Mode from "./Mode.astro";
import NavButton from "./NavButton.astro";
export interface Props {
  name: string;
  link: string;  
}  
import menu from "../data/menu.yaml";
const { name, link } = Astro.props;
---
<nav x-cloak aria-labelledby="nav-heading" :aria-expanded="open" class="flex flex-col items-center">  
    <NavButton />
    <Mode />
  <ul
    x-transition
    x-show="open"
    id="nav-list"
    class="text-xl pt-12 font-serif pl-4 left-16 fixed lg:top-8 top-16 dark:text-gray-50"
  >
  {menu.slice(0, 10).map((item) => (  
    <li class="mb-4">      
      <a href={item.link ? `/${item.link}/` : `/`} class="hover:underline p-2 rounded hover:bg-red-300">{item.name}</a>      
    </li>     
  ))}
</ul>

</nav>