//=========== SHARING ====================
@if $include-sharing-grayscale != false {
	.addthis_toolbox {
	  //float:right !important;
	  text-align:center !important;
	  margin: 5% 0 2% 0% !important;
	}

	.addthis_32x32_style .dummy .at300bs, .addthis_32x32_style .at300bs, .addthis_32x32_style .at15t, 
	.addthis_toolbox img {

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") !important; /* Firefox 10+, Firefox on Android */
	    /* Firefox 10+, Firefox on Android */
	    filter: gray  !important; /* IE6-9 */
	    -webkit-filter: grayscale(100%)  !important; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	    border-radius: 3px;

	}

	.addthis_32x32_style .dummy .at300bs:hover, .addthis_32x32_style .at300bs:hover, .addthis_32x32_style .at15t:hover, 
	.addthis_toolbox img {

	    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale") !important;
	    -webkit-filter: grayscale(0%) !important;
	}

}