{% if page.cover_image %}
	<img src="{{site.baseurl}}/assets/img/{{page.cover_image}}" style="max-width:300px;margin-top:22px;" class="image-shadow">
{% endif %}

<ul class="no-bullet" style="max-width:220px;margin-left:.25rem;margin-top:.5rem;">
	{% if page.publisher %}
		<li>
			<small>
			 {{page.publisher}}
			</small>
		</li>
	{% endif %}
	{% if page.date %}
    <li class='date'>
      <small>
        {{ page.date | date:'%b %d, %Y' }}
      </small>
    </li>
  {% endif %}
	{% if page.isbn %}
		<li>
			<small>
			ISBN: {{page.isbn}}
			</small>
		</li>
	{% endif %}
	{% if page.isbn_digital %}
		<li>
			<small>
				ISBN Digital: {{page.isbn_digital}}
			</small>
		<li>
	{% endif %}
</ul>
