<ul class="no-bullet meta-data">
	{% if page.publisher %}
		<li class="publisher">
			<small>
			 Publisher: {{page.publisher}}
			</small>
		</li>
	{% endif %}
	{% if page.date %}
    <li class='date'>
      <small>
        Publication Date: {{ page.date | date:'%b %d, %Y' }}
      </small>
    </li>
  {% endif %}
	{% if page.isbn %}
		<li class="isbn">
			<small>
			ISBN: {{page.isbn}}
			</small>
		</li>
	{% endif %}
	{% if page.isbn_digital %}
		<li class="isbn_digital">
			<small>
				ISBN Digital: {{page.isbn_digital}}
			</small>
		<li>
	{% endif %}

{% if page.meta_data %}
<li class="meta_data">
			<small>
				{{page.meta_data}}
			</small>
		<li>

{% endif %}

</ul>
