<aside class="sidebar-left">
  <h1><a href="{{site.baseurl}}">{{site.sitename}}</a></h1>
  <p>{{site.description}}</p>
  <hr />  
  {% include nav/navigation.html %}
  <hr />
  {% if site.facebook_id %}
    <a href="https://www.facebook.com/{{site.facebook_id}}">
      <span class="screen-reader-text">Facebook</span>
      <i class="fa fa-facebook-square fa-lg icon-facebook-squared"></i>
    </a>
  {% endif %}
  {% if site.twitter_id %}
    <a href="https://twitter.com/{{site.twitter_id}}">
      <span class="screen-reader-text">Twitter</span>
      <i class="fa fa-twitter-square fa-lg icon-twitter-squared"></i>
    </a>
  {% endif %}
</aside>
<!-- /aside left -->    