---
import { Markdown } from 'astro/components';
import BaseLayout from "../layouts/BaseLayout.astro";
import posts from "../data/quotes.json";
interface CustomDataFile {
  quote: string;
  attribution: string;
}
//const posts = await Astro.glob<CustomDataFile>('../data/quotes.json');
const { quote, attribution } = Astro.props;

let title = "Title from the index page yo";
let description = "Description from Index";

// console.log('title: ', posts[0])
---

<BaseLayout content={{ title, description }}>

<!-- {quotes[0]} -->

{posts.slice(0,1).map((post) => (    
    <blockquote cite={post.attribution} class="font-serif text-2xl sm:text-3xl lg:text-6xl p-4 lg:p-32">
      <Markdown content={post.quote ? `“${post.quote}”` : ``} />      
      <Markdown content={post.attribution ? `<span class="font-sans bold text-sm">— ${post.attribution}</span>` : ``} />
    </blockquote>    
))}

</BaseLayout>
