//Base
// @import
//
//   "./node_modules/normalize.scss/normalize.scss",
//   "./node_modules/normalize-opentype.css/normalize-opentype.scss",
//   "bourbon/bourbon",
//   "base/base",
//   "neat/neat";
//

@import
"modules/poole",
// "modules/lanyon"
"modules/hyde"
;

p, nav h1 {
  font-family: "Mercury SSm A", "Mercury SSm B";
  font-style: normal;
  font-weight: 300;
}

p {
  line-height: 1.6;
  font-size: 1.0125em;
}
