//Base
// @import
//
//   "./node_modules/normalize.scss/normalize.scss",
//   "./node_modules/normalize-opentype.css/normalize-opentype.scss",
//   "bourbon/bourbon",
//   "base/base",
//   "neat/neat";
//

@import
"modules/fontello",
"modules/poole",
"modules/lanyon",
"modules/font-mercury";

h1, h2, .masthead-title {
  font-family: 'Lato', "PT Sans", Helvetica, Arial, sans-serif;
    //font-family: "Mercury SSm A", "Mercury SSm B";
    font-weight: 300;
}

p, .sidebar-about h1, blockquote, blockquote p {
  font-family: "Mercury SSm A", "Mercury SSm B";
  font-style: normal;
  font-weight: 300;
}

p {
  line-height: 1.6;
  font-size: 1.0125em;
}

blockquote {
  border-left: none;
}


.post-date {
  font-size: .875em;
}

h2 a {
  color: #111;
}
