---
  import { Markdown } from "astro/components";
  import RotatedText from "../components/RotatedText.astro";
  import posts from "../data/quotes.json";
  // import "../styles/sass.scss";
  const quote = posts
    .slice(0)
    .reverse()
    .map(element => {
      return element;
    });
const letteringText = "What is a Commonplace Book?"
---





<div class="boxes md:grid grid-rows-2 grid-cols-2 lg:grid-rows-4 lg:grid-cols-4 gap-0 dark:text-slate-400">
  <!-- border rules:
  - border-r: ODD boxes only
  - border-b: 1-12 all screens, 13-16 small screens only
  - border-l: 3, 7 11, 15, only
   -->
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] lg:after:bg-white dark:lg:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/bud"
    class="hover:text-red-500 transition-all relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-l border-b lg:border-r flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">
    <RotatedText letteringText={letteringText} />
  </a>

  <div
    class="relative after:content-[''] border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/quotes"
    class="hover:bg-slate-100 dark:hover:bg-slate-700 transition relative after:content-[''] lg:after:bg-white dark:lg:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">
    <blockquote cite={quote[0].attribution} class="font-serif text-2xl ml-2 dark:text-slate-400 text-gray-600">
      <Markdown content={quote[0].quote ? `<span class="-ml-4">“</span>${quote[0].quote}”` : ``} />
        <Markdown content={quote[0].attribution ? `<span
          class="block text-gray-500 dark:text-slate-500 font-sans mt-8 font-bold text-sm">—
          ${quote[0].attribution}</span>` : ``} />
    </blockquote>
  </a>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b lg:border-r lg:border-l flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/about/"
    class="hover:bg-slate-100 dark:hover:bg-slate-700 transition relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b lg:border-r flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </a>
  <div
    class="relative after:content-[''] lg:after:bg-white dark:lg:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative  after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b lg:border-l lg:border-r flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">
    <div class="w-full h-full flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity"> ME</div>
  </div>
  <div
    class="relative after:content-[''] border-b flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 lg:after:bg-transparent after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r border-b lg:border-b-0 flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">
    <p class="">I run The New Dynamic. We build better faster websites and contribute to OSS and run a community for
      Jamstack folks. </p>
  </div>
  <div
    class="relative after:content-[''] border-b lg:border-b-0 flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 lg:after:bg-transparent after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r lg:border-l border-b md:border-b-0 lg:border-b-0 flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div class="relative after:content-['']  flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
</div>