---
  import { marked } from 'marked';
  import RotatedText from "../components/RotatedText.astro";
  import posts from "../data/quotes.json";
  // import "../styles/sass.scss";
  const quote = posts
    .slice(0)
    .reverse()
    .map(element => {
      return element;
    });
---





<div class="boxes md:grid grid-rows-2 grid-cols-2 lg:grid-rows-4 lg:grid-cols-4 gap-0 dark:text-slate-400">
  <!-- border rules:
  - border-r: ODD boxes only
  - border-b: 1-12 all screens, 13-16 small screens only
  - border-l: 3, 7 11, 15, only
   -->
  <a href="/about"
    class="hover:bg-slate-100 dark:hover:bg-slate-700 relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r border-b flex items-center justify-center border-gray-300 dark:border-slate-700 py-12 md:py-4 px-4">
    <p class="">I run The New Dynamic. We build better faster websites and contribute to OSS and run a community for
      Jamstack folks. <span class="text-blue-500">&nbsp;more &rarr;</span></p>
  </a>
  <div
    class="hidden lg:flex relative after:content-[''] lg:after:bg-white dark:lg:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/article/what-is-a-commonplace-book/"
    class="flex flex-col hover:text-red-500 transition-all relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800  after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-l border-b lg:border-r text-center items-center justify-center border-gray-300 dark:border-slate-700 py-12 md:py-4  px-4">
    <RotatedText letteringText="What is a Commonplace Book?" />
  </a>

  <div
    class="relative after:content-[''] border-b hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r border-b hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/quotes"
    class="hover:bg-slate-100 dark:hover:bg-slate-700 transition relative after:content-[''] lg:after:bg-white dark:lg:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b  justify-center border-gray-300 dark:border-slate-700 p-4">
    
      
      
      {quote[0].quote && 
        <blockquote class="w-fullblock font-serif text-2xl ml-2 dark:text-slate-400 text-gray-600" set:html={`<span class="inline-block -ml-3 -mt-6">“</span>` + marked.parseInline(quote[0].quote) + `”`} />
        }			
      {quote[0].attribution && 
        <cite class="block text-gray-500 dark:text-slate-500 font-sans mt-8 font-bold text-sm" set:html={`— ` + marked.parseInline(quote[0].attribution)} />
      }
        
  </a>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b lg:border-r lg:border-l hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] border-b hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/about/"
    class="hover:bg-slate-100 dark:hover:bg-slate-700 transition relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b lg:border-r hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </a>
  <div
    class="relative after:content-[''] lg:after:bg-white dark:lg:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative  after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 border-b lg:border-l lg:border-r hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">
    <div class="w-full h-full flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
      photo
    </div>
  </div>
  <div
    class="relative after:content-[''] border-b hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <a href="/about/"
    class=" transition relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 lg:after:bg-transparent after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r border-b lg:border-b-0 hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">
    <!-- <p class="">I run The New Dynamic. We build better faster websites and contribute to OSS and run a community for
      Jamstack folks. </p> -->
  </a>
  <div
    class="relative after:content-[''] border-b lg:border-b-0 hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div
    class="relative after:content-[''] md:after:bg-white dark:md:after:bg-slate-800 lg:after:bg-transparent after:rounded-full after:h-8 after:w-8 after:absolute after:-right-4 after:-bottom-4 after:z-50 lg:border-r lg:border-l border-b md:border-b-0 lg:border-b-0 hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
  <div class="relative after:content-['']  hidden lg:flex items-center justify-center border-gray-300 dark:border-slate-700 p-4">

  </div>
</div>