article.hentry {

    padding: 1.5rem;
    margin:auto;
    max-width: $d-vp;
    //min-height: $c-vp;
    overflow: hidden;
    header {
      margin-bottom: .5em;
    }

    img {
    	max-width: 100%;
    }

    @include respond-to($c-vp, $IE9: false) {
    	padding: 2rem 7rem;
    }

    h1 {
    @extend .as-heading__headline;
    @extend .as-heading__headline--typeset;
    color: $kind-of-blue;
    @extend .font-display;

}

h2 {
    @extend .as-heading__largest;
    @extend .as-heading__large--typeset;
}

h3 {
    color: darken($heading-color, 5%);
    @extend .as-heading__normal;
    @extend .as-heading__normal--typeset;
}

h4, .list h5 {
      color: darken($heading-color, 5%);
    @extend .as-heading__small;
    @extend .as-heading__small--typeset;
}

article h5 {
    @extend .as-heading__smallest;
    @extend .as-heading__smallest--typeset;
}


p:first-child,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
hr + p
{
  text-indent: 0;
 }



p {
text-indent: 1.5rem;
 }




}

aside.sidebar-right {
 @extend .font-var;
 font-size: $iota;

}

// .tagsNote {
// background-color: rgba(45,126,165,0.8);
//  color: #FFF;
//  padding: 1em;
// }
small {
 //@extend .as-heading__smallest;
 @include adjust-font-size-to($kappa);
 @extend .font-var;
}



blockquote {
	@extend .as-blockquote--typeset ;

}

.content img:first-child {

  @include respond-to($b-vp, $IE9: false) {
  float: left;
  margin: .5em 1.4em 1.5em 0;

  }

  object, embed, iframe {
    max-width: 100% !important;
  }



}

// the dev class on an article doesn't have indented paragraphs, but has space between them.
article.dev {
  p {
    margin-bottom: 1.25em;
    text-indent: 0;
  }
}

hr {
  //margin-top:    @line-height-computed;
  //margin-bottom: @line-height-computed;
  margin:1em auto;
  border: 0;
  border-top: 1px solid #EEEEEE;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

sup, sub {
  @include adjust-font-size-to($kappa);
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }

.footnotes li {
@extend small;

}

.sharing {
  margin-top: 4em;
}
