
{% if page.tags %}
<aside id="series">
{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
	{% if post.tags == page.tags %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}




	<div class="tagsNote">
		
		
		<ul>
			<li>

				<strong>
					{% if count > '1' %}
					Part {{ idx }} in a {{ count }}-part series on 
					{% else %}	
Topic: 
						{% endif %}
					{{page.tags | array_to_sentence_string}}</strong></li>
		{% assign count = '0' %}
		{% for post in site.posts reversed %}
		{% if post.tags == page.tags %}
			{% capture count %}{{ count | plus: '1' }}{% endcapture %}
			<li>
			{% if page.url == post.url %}
				{{post.title}}
			{% else %}
				<a href="{{post.url}}">{{post.title}}</a>
			{% endif %}
			</li>
		{% endif %}
		{% endfor %}
		</ul>


	</div>
		

</aside>
		    


{% endif %}

