	<div id="entry-list" style="margin-top:.25em;">
		<div class="searchbox lighter">
			<input type="text" class="search rounded" placeholder="Search" />
		</div>
		<div class="list">	
			{% for writing in site.data.writing limit:250 %}
			<div>
				<small class="category">{{ writing.category }}</small><br />
					<h5 class="title">{{ writing.title }}</h5>
							<small class="publication">
								{{ writing.date | date: "%B %d, %Y" }}
								{% if writing.link_to_original %}
									<a href="{{writing.link_to_original}}">
										<em>
											{{ writing.publication | sort}}
										</em>
									</a>
										<a href="{{writing.link_to_original}}" class="icon-link-ext"></a>
								{% else %}
									<em>
										{{ writing.publication | sort}}
									</em>
								{% endif %}
							</small>
					<hr />
					</div>
			{% endfor %}
		</div>
	</div><!--  /entry-list  -->
