---
import BaseLayout from "./BaseLayout.astro";
const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
  content;
---

<BaseLayout content={{ title, description }}>
  <div class="lg:prose-lg mx-auto text-gray-800 dark:text-gray-400 prose dark:prose-invert" >
    <h1 class="text-gray-900 dark:text-gray-300 mb-1">{title}</h1>
    <p class="italic font-serif pb-12 text-sm">{description}</p>
    <div class="font-serif">
    <slot />
    </div>
  </div>
</BaseLayout>
