---
import BaseLayout from "./BaseLayout.astro";
const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
  content;
---

<BaseLayout content={{ title, description }}>
  <div class="prose lg:prose-lg mx-auto text-gray-800 dark:text-gray-400">
    <h1 class="text-gray-900 dark:text-gray-300">{title}</h1>
    <p class="">{description}</p>
    <slot />
  </div>
</BaseLayout>
